$medium: 650px;
$large: 1040px;
$huge: 1300px;

$link-color: #87b672;

/*$main-font: #5f5b5b;*/
$content-font: #8f8f8f;
$light-font: #fefefe;
$footer-main-font: #9b9999;

$main-font: #111;
$second-font: #555;
